*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 7vw;
}
h2{
    font-size: 6vw;
}

h3{
    font-size: 5vw;
}
p{
    font-size: 4vw;
}
body{
    font-family: "Roboto";  
    counter-reset: section; 
}
a{ 
    text-decoration: none;
    color: white;    
}
a:hover{
    color:orangered;
}
a:active{
    color:purple;
}
p{
    text-align: justify;
   
}
ul{
    list-style-type: square;
    
}
.cuerpo{
    /*position: relative;*/
    background: linear-gradient(120deg,#2b201e,#d9d6e9);
    display: grid;
    grid-template-rows: 1/4fr 1.4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    /*height: 100%;*/
    grid-template-areas:
    "nav nav nav nav"
    "head head head head"
    "mi mi mi mi"
    "servi servi servi servi"
    "gale gale gale gale"
    "proyec proyec proyec proyec"
    "contac contac contac contac"
    "pie pie pie pie"
    "cola cola cola cola"
    "publi publi publi publi"
    "config config config config"
    ;
}
.fondo{
    position: absolute;
    z-index: 1;
    display:flex;
    justify-content: center;
    width: 100%;       
}
.img1{
    max-width:100%;
    height: auto;
    filter: grayscale(40%);
}
.navegador{
    position: fixed;
    width: 100%;
    grid-area: nav;
    background-color: rgb(40, 40, 40);
    color:white;
    z-index: 12;
    min-height:5%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
         
}
.navegador ul{
    padding: 1%;
    
    
}
.navegador li{
      
    display: inline;
    vertical-align: middle;
    max-width: 100%;
    min-width: 16%;
    min-height: 50%;
    max-height: 100%;
    padding: 0;
    margin: 0; 
    text-align: center;
    border: 1px solid #bbb ;
    background-color: rgb(75, 196, 38);
    font-size: 3.5vw;  
    transform: translate(25%,25%);       
          
}
.navegador a{
    padding: 0;
    margin: 0;
}
.navegador li:hover{
    background-color: aqua;
}
 
.dropdown {
    position: relative;   
    box-sizing: content-box; 
    
    display: inline-block;    
    padding: 0;
    margin: 0;
    height: 100%; 
    border-radius: 3px;
    border: 1px solid #bbb ;
    background-color: rgb(89, 19, 211); 
    align-content: center;

     
}
   
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;   
    z-index: 1;
    padding: 0;
    margin: 0;   
}  
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    border: none;
    font-size: 3vw; 
    padding: 0;
    margin: 0;
  }
.dropbtn{
    
    font-size: 3vw;
    background-color:rgb(89, 19, 211); 
    border-radius: 3px;
    color: white;
    font-family: "Roboto";
    

}

.dropdown-content a:hover {background-color: #730707}

.dropdown:hover .dropdown-content {
    display: block;
  }

.cabecera{
    /*position: relative;*/
    grid-area: head;
    z-index: 10;
    margin-top: 5%;
    padding: 3%;
    color: white;
}
.cabecera h1{
    margin-top: 3%;
    font-size: 9vw;
    text-shadow: 2px .1px black;
}
.cabecera p{
    margin-top: 6%;
    margin-right: 33%;
    color: white;
    text-shadow: 2px 0.01px black,0 0 3px  #122142;
    font-size: 4vw;
}
.sobremi{
    /*position: relative;*/
       
    grid-area: mi;
    margin-top: 20%;
    padding: 7%;
    z-index: 10;
    border-bottom: 2px solid  #122142;
}

.sobremi h3,p{
    margin-top: 3%;
    
}
.sobremi h3{
    text-decoration: underline black;
} 
.sobremi h2{
    text-decoration: underline black;
    text-align: center;
    margin: 5%;
    margin-bottom: 7%;    
} 
 
.servicios{
    /*position: relative;*/
    /*margin-top: 0%;*/
    padding: 10%;
    grid-area: servi;
    z-index: 10;
    border-bottom: 2px solid  #122142;
}
.servicios h2{
    display: flex;
    justify-content: space-around;
    text-decoration: underline black;
    margin-bottom: 7%;
}
.servicios h3{
    margin-top: 1%;
    padding: 4%;
    
}
.galeria{
    /*position: relative;*/
   grid-area: gale;
   height: 100%;
  
   border-bottom: 2px solid  #122142;
}
.fila-50{
    height: 23%;
    width: 100%;
    float: flex;
    display: flex;
    padding-bottom: .5%;
    
     
}
.fila-100{
    height: 23%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: .5%;
    
}
.titulo-galeria{
    height: 8%;
    display: flex;
    justify-content: space-around;
    text-decoration: underline black;
    align-items: center;
   
}
.galeria h2{
    display: flex;
    justify-content: center;
    
}
.galeria img{
   
    filter: grayscale(1);
      
    
}
.img-50{
    width: 100%;
    height: 100%;


}
.img-100{
    max-width: 60%;
    height: 100%;
}
.recuadro{
    width: 50%;
    height: 100%;
    

}
.proyectos{
    /*position: relative;*/
    margin-top: 5%;
    padding: 7%;
    grid-area: proyec;
    z-index: 10;
    border-bottom: 2px solid  #122142;
    
}
.proyectos h3{
    
    margin-top: 1%;
    padding: 4%;
}
.proyectos h2{
    text-decoration: underline black;
    display: flex;
    justify-content: space-around;
    margin-bottom: 7%;
}
.contactame{
    /*position: relative;*/
    display: block;  
    padding: 1% 1% 2% 7%;
    grid-area: contac;
    z-index: 10;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    font-family: 'calibri';
    margin: 0;
    height: 100%;
    overflow: auto;
    border-bottom: 2px solid  #122142;
}
.contactame h3{
    color:white; 
    margin: 0px; 
    padding: 0px;
    width: 100%;
    margin-top: 4%;
    
}
.form{
    
    border-width: 0 0 2px 0;       
    width: 100%;
    height: 100%;
    font-size: 5vw; 
    margin: 1.5%;
    padding: 1.5%;
    
}
.input{
    width: 70%;
    background-color: #24303c;
    padding: 1%;
    border-radius: 4px;
    margin:0% 0 1% 0;
    /*height: 13%;*/
    border-bottom: 2px solid #1f53c5

}
.input2{
    display: block;
    width: 80%;
    background-color: #24303c;
    /*padding: 0%;*/
    border-radius: 4px;
    margin:0;
    height: 30%;
    border-bottom: 2px solid #1f53c5

}
.boton{
    width: 20%;
    border-radius: 3px;
    background-color: #0e2f77;
    border:none;
    color:white;
    margin: 1% 0 0 0;
    font-size: 3.5vw;
}
.pie{
    /*position: relative;*/
    display:flex;
    grid-area: pie;
    z-index: 10;
    background-color: orange;
    border-bottom: 2px solid  #122142;
       
}
.pie p{
    padding: 3%;
    margin: 2%;
    outline: 5px outset rgba(170,50,220,.6);
    border-radius: 2rem;
    text-align-last: center;
}
.img2{
    max-width: 20%;
    
}
.publi{
    min-height: 8%;
    max-height:9%;
    width: 100%;
    position: fixed;
    grid-area: publi;
    z-index: 13;
    background-color: #c1b5c8;
    top:91%;
    display: flex;
    justify-content: center;
    
}

.gif-1{
    margin: 0;
    padding: 0;
    transform: scale(0.6);
    align-items: flex-start;
    }
.cola{
    min-height: 100px;
    max-height:10px;
    width: 100%;
    position: relative;
    grid-area: publi;
    z-index: 1;
    background-color: #c1b5c8;
    display:flex;
    justify-content:center;
    
}
.menu{
    width: 100%;
    margin: 0 100% 0 100%; 
     
}
.config{
    
    min-height: 4%;
    max-height:5%;
    width:  min(50%,180px);    
    position: fixed;
    float: left;
    grid-area: config;
    z-index: 13;
    background-color: #c1b5c8;
    top:85%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius:30px;
    
}
.png-2{
    transform: scale(0.3);
    padding: 0;
    margin: 0;
    
}
/* adaptación para monitores de computadoras*/
@media screen and (min-width: 1000px) {
    .cuerpo {
        max-height: calc(8500px);
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.2fr;
        grid-template-areas:
        "nav nav nav nav nav publi"
        "head head head head  head publi"
        "mi mi mi mi mi publi "
        "servi servi servi servi servi publi"
        "gale gale gale gale gale gale publi"
        "proyec proyec proyec proyec proyec publi"
        "contac contac contac contac contac publi"
        "pie pie pie pie pie publi "
        "cola cola cola cola cola publi"
        
        "config config config config"
        ;
    }
    .fondo{
        position: absolute;
        z-index: 1;
        display:flex;
        justify-content: right;
        width: 77%;  
        background-color: #0e2f77;     
    }
    .img1{
        max-width:100%;
        height: min(60%,90px);
        filter: grayscale(40%);
        float: right;
    }
    .navegador{  
        float: inline-start;      
        min-height:5%;
        display:flex;
        justify-content: left;
        align-items: top;    
             
    }
    .navegador ul{
        padding: 1.2%;
        padding-left: 5%;
        width: 100%;          
    }
    .navegador li{         
        margin-left: 1%; 
        font-size: 2vw;       
            
    }       
       
    .dropdown-content {       
        background-color: #d8d4d4;   
        padding: 2%;         
    }      
    .dropbtn{
        font-size: 1.9vw;          
    }
    .dropdown-content a:hover {background-color: #b4a71b}    
    h1{
        font-size: 4vw;
    }
    h2{
        font-size: 3vw;
    }
    
    h3{
        font-size: 2.5vw;
    }
    p{
        font-size: 1.8vw;
    }
    .cabecera{
        z-index: 10;
        margin-top: 4%;
        padding: 2%;        
    }
    .cabecera h1{
        margin-top: 3%;
        font-size: 4vw;              
        transform: translate(12%,30%);   
        
    }
    .cabecera p{        
        margin-top: 10%;  
        font-size: 2vw;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: #361a9a;
    } 
    .sobremi{
        position: relative;
           
        grid-area: mi;
        margin-top: 0%;
        padding: 4%;
        z-index: 10;
        border-bottom: none;
    }
    .sobremi li{
        margin-top: 4%;
    }
    
    .sobremi h3,p{
        margin-top: 0%;
        
    }
    .sobremi h3{
        text-decoration: underline black;
    } 
    .sobremi h2{
        text-decoration: underline black;
        text-align: center;
        margin: 5%;
        margin-bottom: 7%;    
    } 
    .contactame{
        /*position: relative;*/
        /*display: block; */ 
        padding: 1% 1% 2% 7%;
        grid-area: contac;
        z-index: 10;
        background: linear-gradient(120deg,#2980b9,#8e44ad);
        font-family: 'calibri';
        margin: 0;
        height: 100%;
        overflow: auto;
        border-bottom: 2px solid  #122142;
    }
    .contactame h3{
        color:white; 
        margin: 0px; 
        padding: 0px;
        width: 100%;
        
    }
    .form{
        
        border-width: 0 0 2px 0;       
        width: 100%;
        height: 50%;
        font-size: 6vh ; 
        margin: 0;
        padding: 0;
        
        
    }
    .input{
        width: 70%;
        background-color: #24303c;
        padding: 0%;
        border-radius: 4px;
        margin:0% 0 0% 0;
        height: 20%;
        border-bottom: 2px solid #1f53c5
    
    }
    .input2{
        display: block;
        width: 80%;
        background-color: #24303c;
        padding: 1%;
        border-radius: 4px;
        margin-top:2%;
        height: 50%;
        border-bottom: 2px solid #1f53c5
    
    }
    .boton{
        width: 10%;
        border-radius: 3px;
        background-color: #0e2f77;
        border:none;
        color:white;
        margin: 0% 0 0 0;
    
    
        font-size: 1.5vw;
    }
    .pie{
        /*position: relative;*/
        display:flex;
        grid-area: pie;
        z-index: 10;
        background-color: orange;
        border-bottom: 2px solid  #122142;
        height: 80%;
           
    }
    .pie p{
        padding: 3%;
        margin: 2%;
        outline: 5px outset rgba(170,50,220,.6);
        border-radius: 2rem;
        text-align-last: center;
    }
    .img2{
        max-width: 17%;
        
    }
    .publi{
        min-height: 100%;
        max-height:100%;      
        width: 23%;
        padding-top:2% ;
        padding-bottom: 20%;
        position: fixed;        
        left: 77%;
        grid-area: publi;
        z-index: 10;
        background-color: #c1b5c8;
        top:calc(8.5%);
        display: flex;        
        justify-content: center;   
        align-items: flex-start;
      
    }
    
    .gif-1{
        margin: 0 0 0 0;
        padding: 0;
        transform: 0;
        align-items: center;
        }
    .cola{
        min-height: 0;
        max-height:0;
        width: 100%;
        position: relative;
        grid-area: publi;
        z-index: 1;
        background-color: #c1b5c8;
        display:flex;
        justify-content:center;
        
    }
    .menu{
        width: 100%;
        margin: 0 0 0 5%; 
        display: flex;
        justify-content: left;
         
    }
    .config{
        
        min-height: 4%;
        max-height:5%;
        width:  min(50%,180px);    
        position: fixed;
        grid-area: config;
        z-index: 13;
        background-color: #c1b5c8;
        top:93%;
        display: flex;
        justify-content: left;
        
        align-content: flex-end;
        border-radius:30px;
        
    }
    .png-2{
        transform: scale(0.3);
        padding: 0;
        margin: 0;
        
    }


  }

