*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 7vw;
}
h2{
    font-size: 6vw;
}
h3{
    font-size: 5vw;
}
p{
    font-size: 3vw;
}
body{
    font-family: "Roboto";
    font-size: 100%;
}
a{ 
   
    text-decoration: none;
    color: white;
  
   
}
a:hover{
    color:orangered;
}
a:active{
    color:purple;
}
p{
    text-align: justify;
}
ul{
    list-style-type: square;
       
}
.cuerpo{
    position: relative;
    background: linear-gradient(120deg,#2b201e,#d9d6e9);
    display: grid;
    grid-template-rows: 1/4fr 1.4fr 1fr 1fr 1fr 1fr 1.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    height: 100%;
    grid-template-areas:
    "nav nav nav nav"
    "head head head head"
    "mi mi mi mi"
    "servi servi servi servi"
    "gale gale gale gale"
    "proyec proyec proyec proyec"
    "contac contac contac contac"
    "pie pie pie pie"
    "publi publi publi publi"
     ;

}
.fondo{
    position: absolute;
    z-index: 1;
    display:flex;
    justify-content: center;
    width: 100%;
       
}
.img1{
    max-width:100%;
    height: auto;
    filter: grayscale(40%);
}
.navegador{
    position: fixed;
    width: 100%;
    grid-area: nav;
    background-color: rgb(40, 40, 40);
    color:white;
    z-index: 12;
    min-height:3%;
    max-height: 10%;
    padding: 1% 0 1% 0;
  
    
}

.navegador li{
    display: inline;
    min-width: 16.6%;
    float: left;
    height: 100%;
    text-align: center;
    border-right: 1px solid #bbb ;
    max-width: 20%;
    font-size: 3.2vw;
    
    
           
}
.navegador li:hover{
    background-color: aqua;
}

.cabecera{
    grid-area: head;
    z-index: 10;
    margin-top: 5%;
    padding: 3%;
    color: white;
}
.cabecera h1{
    margin-top: 3%;
    font-size: 9vw;
    text-shadow: 2px .1px black;
}
.cabecera p{
    margin-top: 6%;
    margin-right: 33%;
    color: white;
    text-shadow: 2px 0.01px black,0 0 5px #0000ff;
    font-size: 4vw;
}
.sobremi{
       
    grid-area: mi;
    margin-top: 20%;
    padding: 7%;
    z-index: 10;
    border-bottom: 3px solid blue;
}

.sobremi h3,p{
    margin-top: 3%;
    
}
.sobremi h3{
    text-decoration: underline black;
} 
.sobremi h2{
    text-decoration: underline black;
    text-align: center;
    margin: 5%;
    margin-bottom: 7%;
    
} 
.servicios{
    margin-top: 5%;
    padding: 7%;
    grid-area: servi;
    z-index: 10;
    border-bottom: 3px solid blue;
}
.servicios h2{
    display: flex;
    justify-content: space-around;
    text-decoration: underline black;
    margin-bottom: 7%;
}


.servicios h3{
    margin-top: 1%;
    padding: 4%;
    
}
.galeria{
   grid-area: gale;
   height: 100%;
  
   border-bottom: 3px solid blue;
}
.fila-50{
    height: 23%;
    width: 100%;
    float: flex;
    display: flex;
    padding-bottom: .5%;
    
     
}
.fila-100{
    height: 23%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: .5%;
    
}
.titulo-galeria{
    height: 8%;
    display: flex;
    justify-content: space-around;
    text-decoration: underline black;
    align-items: center;
   
}
.galeria h2{
    display: flex;
    justify-content: center;
    
}
.galeria img{
   
    filter: grayscale(1);
      
    
}
.img-50{
    width: 100%;
    height: 100%;


}
.img-100{
    max-width: 60%;
    height: 100%;
}
.recuadro{
    width: 50%;
    height: 100%;
    

}
.proyectos{
    margin-top: 5%;
    padding: 7%;
    grid-area: proyec;
    z-index: 10;
    
}
.proyectos h3{
    
    margin-top: 1%;
    padding: 4%;
}
.proyectos h2{
    text-decoration: underline black;
    display: flex;
    justify-content: space-around;
    margin-bottom: 7%;
}
.contactame{
    margin-top: 1%;
    padding: 7%;
    grid-area: contac;
    z-index: 10;
    background-color: rgb(199, 199, 199);
   
}
.contactame h1{
    margin: 5%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 7%;
    text-decoration: underline black;
}
.pie{
    display:flex;
    
    grid-area: pie;
    z-index: 10;
    background-color: orange;
    
    
}
.pie p{
    padding: 3%;
    margin: 2%;
    outline: 5px outset rgba(170,50,220,.6);
    border-radius: 2rem;
    text-align-last: center;
}
.img2{
    max-width: 20%;
    
}
.publi{
    
    max-height:7%;
    
    width: 100%;
    position: fixed;
    grid-area: publi;
    z-index: 13;
    background-color: #c1b5c8;
    top:93.5%;
    display: flex;
    justify-content: center;
    
    
     
    
}

.gif-1{
    margin: 0;
    padding: 0;
    transform: scale(0.7);
    align-items: flex-start;
    
}
